<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <!--build:css css/vendor.css-->
    <!--bower:css-->
    <!--endbower-->
    <!--endbuild-->

    <!--build:css css/core.css-->
    <link href="/css/sprite.css">
    <!--endbuild-->

    <!--build:css css/index.css-->
    <link href="/css/index.css">
    <!--endbuild-->
</head>
<body>
<h1>欢迎使用pc脚手架</h1>
<!--build:js js/vendor.js-->
<!--bower:js-->
<!--endbower-->
<!--endbuild-->

<!--build:js js/index.js -->
<script src="/js/index.js"></script>
<!--endbuild-->
</body>
</html>